// Vaporwave Color Scheme

// Colors
$body-bg: lightslategrey;       
$primary: #5b6692;       
$secondary: #ffdb58;    
$success: #00f764;       
$info: #01cdfe;          
$warning: #ff61a6;       
$danger: #ff2965;         
$light: #9A83D4;        
$dark: #260e37;         

// Link Colors
$link-color: #01cdfe;     // Bright Cyan
$link-hover-color: darken($link-color, 10%);

// Bootstrap Import
@import '~bootstrap/scss/bootstrap.scss';
